<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>dosign</string>
		<key>title</key>
		<string>每日签到</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>healthIndex</string>
		<key>title</key>
		<string>活动指数</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>myRepositories</string>
		<key>title</key>
		<string>我的仓库</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>myStart</string>
		<key>title</key>
		<string>我的喜欢</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>myFollow</string>
		<key>title</key>
		<string>我的关注</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>shear</string>
		<key>title</key>
		<string>分享</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>about</string>
		<key>title</key>
		<string>关于</string>
	</dict>
</array>
</plist>
